@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.container {
    background-color: #e0b6b7;
    padding: 20px;
    border-radius: 8px;
    max-width: 30%;
    margin-top: 30px !important;
    margin: auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .title {
    color: #df3941;
    text-align: center;
    font-family: 'Poppins';
  }
  
  .label {
    display: block;
    margin-bottom: 8px;
    color: #df3941;
  }
  
  .input,
  .textarea {
    width: 100%;
    padding: 5px;
    border: 1px solid #df3941;
    border-radius: 4px;
    margin-bottom: 15px;
    box-sizing: border-box;
    font-family: 'Poppins';
  }
  
  .button {
    background-color: #df3941;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
  }
  
  .button:hover {
    background-color: #dd242d;
  }
  
  .alert {
    color: red;
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
  }
  .checkboxLabel
  {
    font-family: 'Poppins';
    font-size: 15px;
  }
  