.footer {
  background-color: #df3941; /* Color de fondo oscuro */
  color: white; /* Color de texto */
  text-align: center;
  padding: 20px;
  position: fixed;
  width: 100%;
  bottom: 0;
  font-size: 16px; /* Tamaño de fuente moderado */
  font-family: 'Poppins';
}

.footer p {
  margin: 0;
  letter-spacing: 1px; 
  opacity: 0.9; 
  transition: opacity 0.3s ease; 
}
