@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.eventDetailContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;

  }
  
  .eventDetailCard {
    background-color: #D9D8EA;
    border: 2px solid #df3941;
    border-radius: 15px;
    padding: 30px;
    max-width: 600px;
    box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    animation: fadeIn 0.5s ease-in-out;
    font-family: 'Poppins';
  }
  
  .eventDetailCard:hover {
    transform: scale(1.02);
    box-shadow: 0px 12px 35px rgba(0, 0, 0, 0.2);
  }
  
  .eventTitle {
    color: #df3941;
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .eventDescription {
    font-size: 1.2rem;
    color: #d86268;
    margin-bottom: 30px;
    text-align: justify;
  }
  
  .eventInfo {
    font-size: 1.1rem;
    color: #d86268;
  }
  
  .eventInfo p {
    margin: 10px 0;
  }
  
  .eventInfo strong {
    color: #df3941;
  }
  
  .loading, .error {
    font-size: 1.5rem;
    color: #df3941;
    text-align: center;
    padding: 20px;
    font-family: 'Poppins';
    display: flex;
    justify-content: center;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .button {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 500;
    align-items: center;
    color: #fff;
    margin: 5px;
    background-color: #df3941; /* Fondo oscuro */
    border: none;
    border-radius: 25px; /* Bordes redondeados */
    cursor: pointer;
    width: 100%;
    margin-left: -5px;
    transition: background-color 0.3s ease, transform 0.2s ease; /* Transición suave */
  }
  .button:hover {
    background-color: #e2747a; /* Color más claro en hover */
    transform: scale(1.05); /* Ligeramente más grande al pasar el mouse */
  }
  .eventEnded
  {
    width: 95%;
    align-items: center;
    align-self: center;
    text-align: center;
    background-color: #000000;
    color: #ff000d;
    border-radius: 25px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 10px;
    padding-right: 10px;
  }