@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.header {
  display: flex;
  align-items: center;
  justify-content: center; 
  padding: 15px 30px; 
  background-color: #f1bbbe; 
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logoContainer {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.logo {
  width: 140px;
  transition: transform 0.3s ease; 
}

.logo:hover {
  transform: scale(1.05);
}

.nav {
  display: flex;
  flex-grow: 1;
  justify-content: center;
}

.nav a {
  margin: 20px 20px;
  color: #df3941;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500; 
  position: relative;
  padding-bottom: 5px;
  transition: color 0.3s ease;
  font-family: 'Poppins';
}

.nav a:hover {
  color: #EC9599;
}

.nav a[aria-current="page"]::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #da3c43;
  bottom: 0;
  left: 0;
  transition: width 0.3s ease;
}

.nav a:hover::after {
  width: 100%;
}

.nav a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 3px;
  background-color: #EC9599;
  bottom: 0;
  left: 0;
  transition: width 0.3s ease;
}

.userMenu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-left: auto;
}

