@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.registerConteiner {
    background-color: #E8E4F2;
    width: 300px;
    margin: 100px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
  }
  
  .registerConteiner h1 {
    color: #d86268;
    font-size: 1.5em;
    margin-bottom: 20px;
    font-family: 'Poppins';
  }
  
  .registerConteiner input {
    width: 100%;
    max-width: 250px;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f6f4fc;
    font-size: 1em;
    color: #d86268;
    font-family: 'Poppins';
  }
  
  .registerConteiner button {
    background-color: #d86268;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease;
    width: 100%;
    max-width: 250px;
    font-family: 'Poppins';
  }
  
  .registerConteiner button:hover {
    background-color: #ca1d26;
  }
  
  .registerConteiner input:focus {
    outline: none;
    border-color: #d86268;
    box-shadow: 0 0 5px rgba(243, 65, 59, 0.5);
  }
  